nbproject
node_modules/
*-lock.json
dist
.playwright-mcp/
.playwright/
.vscode/
.gitignore
test-results/
playwright-report/*
coverage/
e2e/
coverage/
.nyc_output/
kimi_browser
playwright-*
test
tools
.agents
.kimi